<%- include("header") -%>
<div class="box navigation" id="heading">
  <a href="<%= nextList %>">
    <i class="fa-solid fa-arrow-left fa-lg" style="color: #ffffff; padding-left: 5px;"></i>
  </a>
  <h1>
    <%= listHeader %>
  </h1>
  <a href="<%= nextList %>">
    <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffffff; padding-right: 5px;"></i>
  </a>
</div>
<div class="box">
  <% for (let i=0; i < items.length; i++) { %>
  <div class="item">
    <input type="checkbox" />
    <form action="/remove" method="post" class="inner-item">
      <p>
        <%= items[i] %>
      </p>
      <button type="submit" name="list" class="invis-btn" value=<%= listHeader %>>
        <i class="fa-solid fa-trash-can fa-lg"></i>
      </button>
    </form>
  </div>
  <% } %>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus required />
    <button type="submit" name="list" class="btn" value=<%=listHeader %>>
      <i class="fa-solid fa-plus"></i>
    </button>
  </form>
</div>
<%- include("footer") -%>
